
@model ADKT_WebProject.Models.LayoutViewModel

@{
    ViewBag.Title = "ADKT.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ban-top">
    <div class="container">
        <div class="top_nav">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Brands
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-4 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                @foreach (var item in Model.Brands)
                                                {
                                                    <li>
                                                        @Html.ActionLink(item.name, "Details", new { Controller = "Brands", id = item.Id })
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                        <div class="col-sm-4 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                @foreach (var item in Model.Brands)
                                                {
                                                    <li>
                                                        @item.name
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="">
                                @Html.ActionLink("Male", "GenderList", new { gender = "Male", Controller = "Watches" }, new {@class="nav-stylehead"})
                            </li>
                            <li class="">
                                @Html.ActionLink("Female", "GenderList", new { gender = "Female", Controller = "Watches" }, new { @class = "nav-stylehead" })
                            </li>
                            <li class="">
                                <a class="nav-stylehead" href="about.html">About Us</a>
                            </li>


                            <li>
                                <a class="" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="page-head">
    <img src="~/images/FREDERIQUE-CONSTANT.jpg" style="width:100%;"/>
</div>


<div class="ads-grid">
    <div class="container">

        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Our Top Products
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <div class="side-bar col-md-3">

            <!-- price range -->
            <div class="range">
                <h3 class="agileits-sear-head">Price range</h3>
                <ul class="dropdown-menu6">
                    <li>

                        <div id="slider-range"></div>
                        <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                    </li>
                </ul>
            </div>
            <!-- //price range -->
            <!-- food preference -->
            <div class="left-side">
                <h3 class="agileits-sear-head">Giới tính</h3>
                <ul>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Nam</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Nữ</span>
                    </li>
                </ul>
            </div>
            <!-- //food preference -->
            
            <!-- cuisine -->
            <div class="left-side">
                <h3 class="agileits-sear-head">Brand</h3>
                <ul>
                    @foreach (var item in Model.Brands)
                    {
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">@item.name</span>
                        </li>
                    }
                </ul>
            </div>
            <!-- //cuisine -->

        </div>
        <!-- //product left -->





        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <div class="product-sec1">
                    <h3 class="heading-tittle">Nuts</h3>
                    @foreach (var item in Model.Watches)
                    {
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="images/@item.Img_Path" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            @*<a href="single.html" class="link-product-add-cart">Quick View</a>*@
                                            @Html.ActionLink("Quich View", "Details", new { id = item.Id }, new { @class = "link-product-add-cart" })
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a href="single.html">@Html.DisplayFor(modelItem => item.name) </a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@Html.DisplayFor(modelItem => item.price) </span>
                                        <del>$280.00</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        
                                           
                                            <a href="@Url.Action("AddItem","Cart",new { ItemId = item.Id,strUrl=Request.Url.ToString()})">
                                                <input type="submit" value="Add to cart" class="button" />
                                            </a>
                                            
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //product right -->
    </div>
</div>

