@using ADKT_WebProject.Models;
@model IEnumerable<CartItem>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container" style="min-height:500px;border-top:1px solid gray;padding:50px 50px;margin-top:50px;">
    <h3 class="tittle-w3l">Your Receipt</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr class="row">
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td>
                        @item.ItemId
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        <img src="~/images/@item.ItemImg" style="width:80px;height:80px;"/>
                    </td>
                    <td>
                        @item.ItemPrice
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="divDatHang">
        @using(Html.BeginForm("PlaceOrder","Cart"))
            {
                <input type="submit" value="Place Order" class="btn btn-secondary btn-lg"/>
                @Html.ActionLink("Buy more", "Index", "Watches", new {@class="btn btn-info"})
            }
    </div>
</div>