@model IEnumerable<ADKT_WebProject.Models.Identities.Receipt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Customer's name
        </th>
        <th>
            Customer's phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Address)
        </th>
        <th>
            Order's status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Address)
    </td>

    @{
        switch (item.status)
        {
            case 0:
                <td>Not deliver</td>
                break;
            case 1:
                <td>Delivered</td>
                break;
            case 2:
                <td>Paid</td>
                break;
        }
    }
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>



    }

</table>
