@model ADKT_WebProject.Models.Identities.Watch

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Watch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.glass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.glass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waterproof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waterproof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
